body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50rem;
}
form {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
}

form button{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}