* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #ffffff; 
  padding: 10px 8%;
  box-shadow: 0 2px 5px rgb(171, 163, 163);
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav img{
    width: 100px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul a{
    text-decoration: none;
    color:#0077b6;
}

.motto {
  display: flex;
  justify-content: center;   
  align-items: center;       
  height: 30vh;              
  text-align: center;
  
}

.motto h1 {
  font-size: 3rem;
  color: #0077b6;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}

.services {
  text-align: center;
  padding: 80px 8%;
  background: #f9f9f9;
}

.services h2 {
  font-size: 30px;
  margin-bottom: 40px;
  color: #0077b6;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.service {
  flex: 1 1 250px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.service h3 {
  margin-bottom: 10px;
}

.service p {
  color: #555;
  font-size: 0.95rem;
}
ul{
    list-style: none;
}
.service a{
    text-decoration: none;
    color: #0077b6;
}