<div class="sidebar">
    <div class="sidebar-user">
        <h3>Dr. <%= doctor.name %></h3>
    </div>

    <ul class="sidebar-links">
        <li><a href="/doctor-dashboard">Appointments</a></li>
        <li><a href="/doctor-dashboard/profile">My Profile</a></li>
        <li> <a href="/doctor-dashboard/past">Past Appointments</a></li>
        <li><a href="/logout-doctor">Logout</a></li>
    </ul>
</div>
